<% layout('layout/boilerplate') %>
<div class="mt-4 pt-4">
  <div class="row mt-4">
    <h1 class="text-center">New Campground</h1>

    <form
      class="mb-4 needs-validation"
      action="/campgrounds"
      method="POST"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="col-md-6 offset-0 offset-md-3">
        <label class="form-label" for="title">Campground Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Enter Campground Title"
          required
        />
        <br />
        <label class="form-label" for="price"
          >Campground Price (Per Night)</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[price]"
          id="price"
          placeholder="Enter Campground Price"
          required
        />
      </div>
      <br />
      <div class="col-md-6 offset-0 offset-md-3">
        <label class="form-label" for="location">Campground location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="Enter Campground location"
          required
        />
        <br />

        <label class="form-label" for="description"
          >Campground description</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          placeholder="Enter Campground description"
          required
        />
        <br />
        <label for="formFile" class="form-label">Upload your images</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="image"
          multiple
        />
      </div>
      <br />
      <div class="d-flex justify-content-center gap-4">
        <button class="btn btn-outline-success">Submit</button>
        <a class="btn btn-outline-danger" href="/campgrounds">Cancel</a>
      </div>
    </form>
  </div>
</div>
